@mixin responsiveBg($url, $url2, $size, $onlyImage: false, $dpr: 1.5, $position: center) {
    background-image: url($url); 
    @if not $onlyImage {
        background-size: $size; background-repeat: no-repeat; 
        background-position: $position; font: 0/0 a;
    }

    @media (-webkit-min-device-pixel-ratio: $dpr) {
        background-image: url($url2);
    }
}