#pets {
    padding: 0 60px;
    
    .wrapper {
        display: flex; justify-content: center; gap: 62px 68px; flex-wrap: wrap;
    }

    @media (max-width: 900px) {
        padding: 0;
        .wrapper {
            gap: 50px 25px;
        }
    }
}