#adocao {
    position: relative;

    &:before {
        content: ''; position: absolute; top: 40px; right: 0; max-width: 672px; width: 100%; height: 667px;
        @include responsiveBg('~@/assets/images/AdoptDog.png', '~@/assets/images/AdoptDog2x.png', contain)
    }

    > *:not(.modal) {
        position: relative;
    }

    .about {
        padding: 0 60px 127px;
    }

    @media (max-width: 1024px) {
        .about {
            .wrapper {
                padding-top: 0;
            }
            
            img {
                max-width: 400px;
            }
        }
    }

    @media (max-width: 600px) {
        .about {
            img {
                float: none;
            }
        }
    }
}