header {
    background: rgba(#D9A918, .5); padding: 45px 0;

    .wrapper {
        display: flex; gap: 80px; align-items: center; width: 100%;
        a {
            font-family: 'Amatic SC'; font-weight: 700; font-size: 36px; line-height: 45px; color: #1F0F2B;
            text-decoration: none;
        }
    }

    .svg-icon {
        width: 222px; height: auto;
    }

    @media (max-width: 768px) {
        padding: 20px 0;
        .wrapper {
            gap: 40px; justify-content: space-between;
            a {
                font-size: 28px;
            }
        }

        .svg-icon {
            width: 170px;
        }
    }
}